<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1200px"},"style":{"spacing":{"padding":{"top":"40px","bottom":"60px","left":"20px","right":"20px"}}}} -->
<main class="wp-block-group" style="padding-top:40px;padding-right:20px;padding-bottom:60px;padding-left:20px">

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
