<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"legal-page legal-page--privacy","layout":{"type":"constrained"}} -->
<main class="wp-block-group legal-page legal-page--privacy">

<!-- wp:group {"className":"legal-page-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group legal-page-box">

<!-- wp:post-title {"level":1,"className":"page-title"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
